local_costmap:
  global_frame: map
  robot_base_frame: base_link
  
  static_map: false
  rolling_window: true
  
  width: 6.0
  height: 6.0

  footprint_padding: 0.0

  plugins:
    - name: obstacle_layer
      type: "costmap_2d::ObstacleLayer"
    - name: inflation_layer
      type: "costmap_2d::InflationLayer"
  
  inflation_layer:
    inflation_radius: 0.5
    cost_scaling_factor: 10.0