<launch>
  <arg name="model" default="clober"/>
  <arg name="world" default="empty"/>
  <arg name="x_pos" default=" 0.0"/>
  <arg name="y_pos" default=" 0.0"/>
  <arg name="z_pos" default=" 0.0"/>
  <arg name="a_pos" default= "0.0"/>
  <arg name="rviz" default="false"/>

  <include file="$(find clober_simulation)/launch/include/world/world.launch">
    <arg name="world" value="$(arg world)"/>
    <arg name="gui" value="false"/>
  </include>

  <group ns='$(arg model)'>
    <include file="$(find clober_simulation)/launch/include/robot/robot.launch">
      <arg name="model" value="$(arg model)"/>
      <arg name="x_pos" value="$(arg x_pos)"/>
      <arg name="y_pos" value="$(arg y_pos)"/>
      <arg name="z_pos" value="$(arg z_pos)"/>
    </include>

    <include file="$(find clober_navigation)/launch/navigation.launch">
      <arg name="map_file" value="$(find clober_simulation)/map/$(arg world)/map.yaml"/>
      <arg name="model" value="$(arg model)"/>
      <arg name="initial_pose_x" value="$(arg x_pos)"/>
      <arg name="initial_pose_y" value="$(arg y_pos)"/>
      <arg name="initial_pose_z" value="$(arg z_pos)"/>  
      <arg name="initial_pose_a" value="$(arg a_pos)"/>
      <arg name="open_rviz" value="$(arg rviz)"/>
    </include>
  </group>
</launch>
