<launch>
  <arg name="model" default="clober"/>
  <arg name="clober_0"  default="clober_0"/>
  <arg name="clober_1"  default="clober_1"/>

  <arg name="clober_0_x_pos" default=" 2.8"/>
  <arg name="clober_0_y_pos" default="-2.0"/>
  <arg name="clober_0_z_pos" default=" 0.0"/>
  <arg name="clober_0_yaw"   default=" 0.0"/>

  <arg name="clober_1_x_pos" default=" 7.0"/>
  <arg name="clober_1_y_pos" default="-6.0"/>
  <arg name="clober_1_z_pos" default=" 0.0"/>
  <arg name="clober_1_yaw"   default=" 0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find clober_simulation)/worlds/rmf_3x3.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns = "$(arg clober_0)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find clober_description)/urdf/multi_clober.urdf.xacro prefix:=$(arg clober_0)/" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg clober_0)" />
    </node>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg clober_0) -x $(arg clober_0_x_pos) -y $(arg clober_0_y_pos) -z $(arg clober_0_z_pos) -Y $(arg clober_0_yaw) -param robot_description" />
  </group>

  <group ns = "$(arg clober_1)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find clober_description)/urdf/multi_clober.urdf.xacro prefix:=$(arg clober_1)/" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg clober_1)" />
    </node>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg clober_1) -x $(arg clober_1_x_pos) -y $(arg clober_1_y_pos) -z $(arg clober_1_z_pos) -Y $(arg clober_1_yaw) -param robot_description" />
  </group>

</launch>
